version: '3.8'

services:
  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: kafka
    networks:
      - pid-net
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_LISTENERS: 'PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka:9092'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka:9093'
      CLUSTER_ID: 'PBS-PID-kafka-lab-0001'

  cassandra:
    image: cassandra:3.11.14
    container_name: cassandra
    networks:
      - pid-net
    volumes:
      - cassandra_data:/var/lib/cassandra

  connector:
    build:
      context: .
      dockerfile: Dockerfile.connector
    container_name: connector
    depends_on:
      - kafka
      - cassandra
    networks:
      - pid-net
    environment:
      BROKER_BOOTSTRAP: 'kafka:9092'
      KAFKA_TOPIC: 'measurement'
      KAFKA_GROUP: 'users'
      CASSANDRA_CLUSTER: 'cassandra'

  generator:
    build:
      context: .
      dockerfile: Dockerfile.generator
    container_name: generator
    depends_on:
      - kafka
    networks:
      - pid-net
    environment:
      BROKER_BOOTSTRAP: 'kafka:9092'
      BROKER_TOPIC: 'measurement'
      METER_ID: 'ONE'
      SLEEP_MS: '1000'

networks:
  pid-net:
    driver: bridge

volumes:
  cassandra_data:
